<div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
	<h1 class="mb-0" t:render="name"/>
	<hr class="mt-0 mb-4"/>

	<div class="clearfix gx-5">
		<div class="col-12 col-md-4 float-md-start">
			<div class="card rounded-3 shadow-sm mb-3" id="info">
				<div class="card-header">
					<h6 class="my-0">Package info</h6>
				</div>
				<div class="card-body py-1">
					<ul class="list-group list-group-flush" t:render="info">
						<li class="list-group-item px-0">
							<span class="text-muted">Homepage</span><br/>
							<a target="_blank">
								<t:attr name="href">https://<t:slot name="homepage"/></t:attr>
								<t:slot name="homepage"/>
							</a>
						</li>
						<li class="list-group-item px-0">
							<span class="text-muted">Latest version</span><br/>
							<a href="#versions"><t:slot name="latest_version"/></a>,
							<span>
								<t:attr name="title"><t:slot name="latest_version_date"/></t:attr>
								<t:slot name="latest_version_date_delta"/>
							</span>
						</li>
						<li class="list-group-item px-0">
							<span class="text-muted">Maintainer</span><br/>
							<t:slot name="maintainer"/>
						</li>
						<li class="list-group-item px-0">
							<span class="text-muted">License</span><br/>
							<a title="License text" target="_blank">
								<t:attr name="href">https://spdx.org/licenses/<t:slot name="license"/>.html</t:attr>
								<t:slot name="license"/>
							</a>
						</li>
						<li class="list-group-item px-0" t:render="deprecated">
							<span class="text-muted">Deprecated</span><br/>
							<span class="badge bg-warning text-dark">This package has been marked as deprecated. Consider alternatives.</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-8 float-md-end ps-md-3">
			<div class="card rounded-3 shadow-sm mb-3" id="description">
				<div class="card-header">
					<h6 class="my-0">Description</h6>
				</div>
				<div class="card-body">
					<p class="mb-0" t:render="description"/>
				</div>
			</div>

			<div class="card rounded-3 shadow-sm mb-3" id="readme">
				<div class="card-header">
					<h6 class="my-0">Readme</h6>
				</div>
				<div class="card-body markdown" t:render="readme">
					<t:attr name="data-gitlab-url"><t:slot name="gitlab_url"/></t:attr>
					<t:attr name="data-latest-version"><t:slot name="latest_version"/></t:attr>
					<t:slot name="readme"/>
				</div>
			</div>

			<div class="card rounded-3 shadow-sm mb-3" id="changelog">
				<div class="card-header">
					<h6 class="my-0">Changelog</h6>
				</div>
				<div class="card-body markdown" t:render="changelog">
					<t:attr name="data-gitlab-url"><t:slot name="gitlab_url"/></t:attr>
					<t:attr name="data-latest-version"><t:slot name="latest_version"/></t:attr>
					<t:slot name="readme"/>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-4 float-md-start">
			<div class="card rounded-3 shadow-sm" id="versions">
				<div class="card-header d-flex align-items-end">
					<h6 class="my-0 flex-fill">Versions</h6>
					<button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target=".old-version" aria-expanded="false">Toggle patch versions</button>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush" t:render="versions"/>
				</div>
			</div>
		</div>
	</div>
</div>
