<div class="container py-3 text-center">
	<div class="col-lg-8 mx-auto">
		<h1 class="fw-bold">Clean</h1>
		<p class="lead">
			<a href="http://clean.cs.ru.nl" target="_blank"><strong>Clean</strong></a> is a <strong>general-purpose</strong>, <strong>pure</strong> and <strong>lazy</strong> functional programming language.
			Clean is similar to <a href="https://haskell.org" target="_blank">Haskell</a> and distinguishes itself through increased performance and relatively faster compilation times.
			It comes with a <strong>package manager</strong>, <a href="https://clean-and-itasks.gitlab.io/nitrile/" target="_blank">nitrile</a>.
		</p>
		<div class="my-3 d-grid gap-2 d-sm-flex justify-content-sm-center">
			<a class="btn btn-outline-secondary btn-lg px-4 gap-3" href="/about.html">Learn more</a>
			<a class="btn btn-primary btn-lg px-4" href="/about.html#install">Install</a>
		</div>
	</div>
</div>

<div class="container">
	<form>
		<div class="mb-3">
			<input type="text" class="form-control form-control-lg shadow-sm" id="package-search" placeholder="Search for packages...">
		</div>
	</form>
</div>

<div class="container py-3" id="package-results"></div>
