		</main>

		<footer class="my-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md mt-3">
					<small class="text-muted">Copyright &#169; 2021&#8211;2024 <a class="text-muted text-decoration-none" href="https://www.top-software.nl" target="_blank">TOP Software Technology</a> <a class="link-secondary text-decoration-none" href="https://gitlab.com/clean-and-itasks/clean-lang.org/-/blob/main/README.md">and other contributors</a></small>
				</div>
				<div class="col-12 col-md mt-3">
					<h5>Resources</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1">
							<a class="link-secondary text-decoration-none" href="/about.html">About Clean</a>
						</li>
						<li class="mb-1">
							<a class="link-secondary text-decoration-none" href="https://clean-and-itasks.gitlab.io/nitrile/" target="_blank">The nitrile package manager</a>
						</li>
						<li class="mb-1">
							<a class="link-secondary text-decoration-none" href="https://gitlab.com/clean-and-itasks/clean-lang.org" target="_blank">Website source</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>

	<script src="/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/clean.min.js"></script>
	<script src="/js/markdown-it.min.js"></script>
	<script src="/js/lunr.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
